<div class="box" style="width: 300px ; height: 300px; border: 1px solid black; text-align: center;">
  <h4>{{#link-to 'selectionpage' selection.id}}{{selection.name}}{{/link-to}}</h4>
  <p style=""><img style="width: 50%" src={{selection.image}}></p>
  <p style="font-size: 12px;">{{selection.description}}</p>
</div>
