<div>
  <h1 style="text-align: center"> The adventure you seek lies below...</h1>
</div>
  <br>
  <br>
  <br>
  <br>
  <div class="row" id="indexlineup">
    <div class="col-md-3" style="border: 1px solid black; height: 300px ; width: 300px;">
      <h3 style="margin-top: 40px">{{#link-to 'happyhour'}}Happy Hour{{/link-to}}</h3>
      <p><img src="http://freevector.co/wp-content/uploads/2013/02/20181-cocktail-drink-with-stirrer1-200x200.png"></p>
  </div>
  <div class="col-md-3">
    <h3>{{#link-to 'restaurant'}}Restaurants{{/link-to}}</h3>
    <p><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/10446-200.png"></p>
  </div>
  <div class="col-md-3">
    <h3>{{#link-to 'activity'}}Activities{{/link-to}}</h3>
    <p><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/118640-200.png"></p>
  </div>
  <div class="col-md-3">
    <h3>{{#link-to 'nerds'}}Nerds: Rejoice{{/link-to}}</h3>
    <p><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/12678-200.png"></p>
  </div>
</div>
